<%= form_tag sessions_path do %>
	<div><legend>Sign In:</legend></div>
    <fieldset>
	    <div>
	        <%= label_tag :email, 'Email'%>
		    <div>
		        <%= text_field_tag :email, params[:email] %>
		    </div>
	    </div>
	    <div>
	        <%= label_tag :password, 'Password' %>
		    <div>
		        <%= password_field_tag :password, nil%>
		    </div>
	    </div>
	    <div>
	        <div>
	            <%= submit_tag 'Log in' %>
		        <%= link_to "Don't have an account?", new_user_path%>
	        </div>
	    </div>
    </fieldset>
<% end %>
