<div class="container">

  <h1>Most recent meals</h1>
  <h6>(the feed feed)</h6>

  <h3>
  <% if logged_in? %>
    Welcome back
    <% @current_user = User.find(session[:user_id]) if session[:user_id]%>
    <%= @current_user.name %>
  <% end %>
  </h3>

  <div class=>
    <div class="col-md-10">
      <% i = 0 %>
      <% @meals.reverse.each do |m| %>
      <% if i > 4 then %>
        <% break %>
      <% end %>
      <% i += 1 %>
      <table class="table table-hover table-striped table-condensed">
        <thead>
          <tr class="info">
            <th class="col-md-7"><%= link_to(m.meal_type, meal_path(m.id)) %> by: <%= User.find(m.user_id).name %></th>
            <th class="col-md-1">Cals</th>
            <th class="col-md-1">Carbs</th>
            <th class="col-md-1">Protein</th>
            <th class="col-md-1">Fat</th>
            <th class="col-md-1">Sugar</th>
          </tr>
        </thead>

        <tbody>
          <% m.foods.each do |f| %>
            <% c = f.cals.to_i %>
            <% mc = m.cals.to_i%>
            <% mc += c %>
            <% m.cals = mc %>

            <% ca = f.carb.to_i %>
            <% mca = m.carb.to_i%>
            <% mca += ca %>
            <% m.carb = mca %>

            <% p = f.protein.to_i %>
            <% mp = m.protein.to_i%>
            <% mp += p %>
            <% m.protein = mp %>

            <% fa = f.fat.to_i %>
            <% mfa = m.fat.to_i%>
            <% mfa += fa %>
            <% m.fat = mfa %>

            <% s = f.sugar.to_i %>
            <% ms = m.sugar.to_i%>
            <% ms += s %>
            <% m.sugar = ms %>
          <% end %>

          <% m.foods.each do |f| %>
            <tr class="active">
              <td><%= f.name %></td>
              <td><%= f.cals %></td>
              <td><%= f.carb %></td>
              <td><%= f.protein %></td>
              <td><%= f.fat %></td>
              <td><%= f.sugar %></td>
            </tr>
          <% end %>

        </tbody>
        <thead>
          <tr class="warning">
            <th>Totals</th>
            <th><%= m.cals %></th>
            <th><%= m.carb %></th>
            <th><%= m.protein %></th>
            <th><%= m.fat %></th>
            <th><%= m.sugar %></th>
          </tr>
        </thead>
      </table>
    <% end %>
    </div>


    <div class="col-md-2">
      <!-- <h3>All Users!</h3> -->
      <table class="table ">
        <thead>
          <tr class="info">
            <th>ID</th>
            <th>Users!</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |u| %>
            <tr class="active">
              <th><%=u.id%></th>
              <th><%=link_to(u.name, user_path(u.id))%></th>
            </tr>
          <% end %>
        </tbody>
      <% if @users.count == nil %>
        <p>There are currently no users. Sign Up to be the first!</p>
      <% end %>
      </table>









    </div>
  </div>


</div>
