<%= form_for @user do |f| %>
    <div><legend>Create Account:</legend></div>
    <fieldset>
        <div>
            <%= f.label :name, 'Name*'%>
            <div>
                <%= f.text_field :name%>
            </div>
        </div>
        <div>
            <%= f.label :email, 'Email*'%>
            <div>
                <%= f.text_field :email%>
            </div>
        </div>
        <div>
            <%= f.label :password, 'Password*'%>
            <div>
                <%= f.password_field :password%>
            </div>
        </div>
        <div>
            <%= f.label :password_confirmation, 'Confirm Password*'%>
            <div>
                <%= f.password_field :password_confirmation%>
            </div>
        </div>
        <div>
            <div>
                <%= f.submit 'Create Account'%>
            </div>
        </div>
    </fieldset>
<% end %>
