<h1><%= @user.name %></h1>

<% @user.meals.each do |m| %>
  <h3><%= m.meal_type %></h3>
  <ul>
    <%= m.id %>
    <%= m.name %>
  </ul>
<% end %>

<%= link_to "New meal", new_meal_path %>

<%= @user.id %>
