<h1><%= @meal.meal_type %></h1>

<!-- <ul>
<% @meal.foods.each do |f| %>
  <li><%= f.name %></li>
  <li><%= f.cals %></li>
  <li><%= f.sugar %></li>
<% end %>
</ul> -->

<% if logged_in? %>
  <% @current_user = User.find(session[:user_id]) %>
  <% @user = User.find(Meal.find(params[:id]).user_id)  %>
  <% if @current_user == @user %>

    <h3>Add or Edit Foods in Meal</h3>
    <p>something</p>
    <%= form_for @meal do |f| %>
      <%= f.fields_for :foods do |ff| %>
      <ul>
        <li><%= ff.text_field :name, placeholder: 'name'%>
        <%= ff.text_field :cals, placeholder: 'cals'%>
        <%= ff.text_field :carb, placeholder: 'carbs'%>
        <%= ff.text_field :protein, placeholder: 'protein'%>
        <%= ff.text_field :fat, placeholder: 'fat'%>
        <%= ff.text_field :sugar, placeholder: 'sugar'%>
        <%= ff.check_box :_destroy %></li>
      </ul>
      <% end %>
      <!-- <a class="btn btn-primary btn-lg"><%= f.submit %></a> -->
      <%= f.submit :class => 'btn btn-primary btn-lg' %>
    <% end %>
  <% else %>
    <p>You can't edit another user's meal! Sorry!</p>



  <% end %>
<% else %>
  <p>You have to log in to go any further </p>
<% end %>
