<!DOCTYPE html>
<html>
  <head>
    <title>DietJournal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <link rel="stylesheet" href="https://bootswatch.com/spacelab/bootstrap.min.css">
    <style media="screen">
      body {background-color: rgba(230,230,220,1)}
    </style>
    <%= render 'partials/navbar' %>


    <!-- <%= link_to "Home", root_path %> -->

    <!-- <% if logged_in? %>
      <% @current_user = User.find(session[:user_id]) if session[:user_id]%>
      <% u = @current_user %>
      <%= link_to u.name, user_path(u.id)  %>
    <% end %> -->

    <!-- <% if logged_in? %>
      <%= link_to "Logout", logout_path, {method: "DELETE"} %>
    <% else %>
    	<%= link_to "Login", new_session_path %>
    <% end %> -->

    <div class="container">
      <%= yield %>
    </div>


  </body>
</html>
